development:
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  database: fpd
  socket: /var/run/mysqld/mysqld.sock
  host: localhost
  username: user
  password: "xxxx"

test:
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  database: fpd
  socket: /var/run/mysqld/mysqld.sock
  host: localhost
  username: user
  password: "xxxx"

production:
    adapter: mysql2
    encoding: utf8mb4
    collation: utf8mb4_unicode_ci
    database: fpd
    socket: /var/run/mysqld/mysqld.sock
    host: localhost
    username: user
    password: "xxxx"