<!DOCTYPE html>
<html>
  <head></head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <title>FPD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="./css/fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="./css/main-gulp.css" rel="stylesheet" type="text/css">
  <body>
    <div class="wrapper index-page">
      <!--Header-->
      <header>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 col-xs-12">
              <div class="logo"><a href="#"><img src="<%=asset_path("logo.png")%>"></a></div>
            </div>
            <div class="col-md-4 col-xs-12 back-call"><a class="button" href="#">ОБРАТНЫЙ ЗВОНОК</a></div>
            <div class="col-md-4 col-xs-12 tel">
              <ul>
                <li>8 (495) 220-51-88</li>
                <li>8 (800) 555-51-18</li>
              </ul>
              <p>с 9.00 до 22.00 без выходных</p>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#">О КОМПАНИИ<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#">КАТАЛОГ ДВЕРЕЙ</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">МЕДИАГАЛЕРЕЯ</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">ИНФОРМАЦИЯ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">КАК КУПИТЬ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">КОНТАКТЫ</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main id="main" role="main">
        <div class="send-request"><a href="#"></a></div>
        <div class="man-block"></div>
        <div class="button-top"><span>вверх</span></div>
        <div class="main-slider">
          <div class="container">
            <div class="bxslider">
              <div><img src="<%=asset_path("banner.png")%>"></div>
              <div><img src="<%=asset_path("banner.png")%>"></div>
              <div><img src="<%=asset_path("banner.png")%>"></div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="top-offers">
                <div class="top-offers__title">топ предложения</div>
                <p>
                  ООО «Люкс-Дизайн» специализируется на изготовлении,продаже и установке металлических дверей на территории Москвы и Московской области.
                  Также мы осуществляем гарантийное и постгарантийное обслуживание. У нас вы можете купить любую дверь для
                  любого помещения, от дешевой за 5 000 руб. до эксклюзивной за 200 000 руб.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="model-block">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="model-block__col"><span class="image"><img src="./img/model-door.png"></span>
                  <div class="model-block__col-title">Модель LD16</div>
                  <div class="model-block__col-text">Стальная дверь, отделка ламинат + винилискожа (дутая).</div>
                  <div class="model-block__col-price">7 600 p.</div>
                  <ul class="model-block__col-list">
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="model-block__col"><span class="image"><img src="./img/model-door2.png"></span>
                  <div class="model-block__col-title">Модель LD16</div>
                  <div class="model-block__col-text">Стальная дверь, отделка ламинат + винилискожа (дутая).</div>
                  <div class="model-block__col-price">7 600 p.</div>
                  <ul class="model-block__col-list">
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                    <li><img src="./img/model-thumbnail.png"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog-block">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="catalog-block__title">Каталог входных дверей
                  <p>
                    В каталоге на нашем сайте более 1000 дверей, выбирайте любую или закажитеизготовление на заказ по вашим требованиям. Срок выполнения заказа от заявки до установки – 2-3 дня. Все цены на сайте актуальные.</p>
                </div>
                <div class="catalog-block__tabs">
                  <ul class="nav nav-pills mb-3 catalog-block__tabs-head" id="pills-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="pills-a1-tab" data-toggle="pill" href="#pills-a1" role="tab" aria-controls="pills-a1" aria-selected="true">По отделке</a></li>
                    <li class="nav-item"><a class="nav-link" id="pills-a2-tab" data-toggle="pill" href="#pills-a2" role="tab" aria-controls="pills-a2" aria-selected="false">По отделке</a></li>
                    <li class="nav-item"><a class="nav-link" id="pills-a3-tab" data-toggle="pill" href="#pills-a3" role="tab" aria-controls="pills-a3" aria-selected="false">По отделке</a></li>
                    <li class="nav-item"><a class="nav-link" id="pills-a4-tab" data-toggle="pill" href="#pills-a4" role="tab" aria-controls="pills-a4" aria-selected="false">По отделке</a></li>
                  </ul>
                  <div class="tab-content catalog-block__tabs-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-a1" role="tabpanel" aria-labelledby="pills-a1-tab"><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a></div>
                    <div class="tab-pane fade" id="pills-a2" role="tabpanel" aria-labelledby="pills-a2-tab"><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a></div>
                    <div class="tab-pane fade" id="pills-a3" role="tabpanel" aria-labelledby="pills-a3-tab"><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a></div>
                    <div class="tab-pane fade" id="pills-a4" role="tabpanel" aria-labelledby="pills-a4-tab"><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a><a class="catalog-block__tabs-content-item" href="#">
                        <div class="image"><img src="./img/door-one.png"></div>
                        <p>Ламинат</p><span>от 7600 руб.</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bestesellers-block">
          <div class="container">
            <div class="bestesellers-block__title">Хиты продаж
              <p>Если у вас возникли сложности с выбором, ознакомьтесь с предложением ниже. Это самые популярные двери, их чаще всего покупают. Список отсортирован по стоимости: от низкой к высокой.</p>
            </div>
            <div class="row">
              <div class="col">
                <div class="bestesellers-block__wrap">
                  <ul class="bxslider-items">
                    <li><a class="bestesellers-block__item" href="#">
                        <div class="image"><img src="./img/doors-two.png"></div>
                        <p class="title">дверь "Оптима"</p>
                        <p class="sub-title">LD552 Металлическая</p>
                        <p class="price">13 000 р.</p><span class="button">купить</span></a></li>
                    <li><a class="bestesellers-block__item" href="#">
                        <div class="image"><img src="./img/doors-two.png"></div>
                        <p class="title">дверь "Оптима"</p>
                        <p class="sub-title">LD552 Металлическая</p>
                        <p class="price">13 000 р.</p><span class="button">купить</span></a></li>
                    <li><a class="bestesellers-block__item" href="#">
                        <div class="image"><img src="./img/doors-two.png"></div>
                        <p class="title">дверь "Оптима"</p>
                        <p class="sub-title">LD552 Металлическая</p>
                        <p class="price">13 000 р.</p><span class="button">купить</span></a></li>
                    <li><a class="bestesellers-block__item" href="#">
                        <div class="image"><img src="./img/doors-two.png"></div>
                        <p class="title">дверь "Оптима"</p>
                        <p class="sub-title">LD552 Металлическая</p>
                        <p class="price">13 000 р.</p><span class="button">купить</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="our-advantages">
          <div class="container">
            <div class="our-advantages__title">Наши преимущества</div>
            <div class="row">
              <div class="our-advantages__col col-md-6 col-xs-12">
                <div class="icon f-icon1"></div>
                <p>Высокое качество, подтвержденное сертификатами<span>Вся продукция на нашем заводе изготавливается на полуавтоматических станках, которыми управляют инженеры. Данная технология обеспечивает высочайшее качество.</span></p>
              </div>
              <div class="our-advantages__col col-md-6 col-xs-12">
                <div class="icon f-icon2"></div>
                <p>Высокое качество, подтвержденное сертификатами<span>Вся продукция на нашем заводе изготавливается на полуавтоматических станках, которыми управляют инженеры. Данная технология обеспечивает высочайшее качество.</span></p>
              </div>
              <div class="our-advantages__col col-md-6 col-xs-12">
                <div class="icon f-icon3"></div>
                <p>Высокое качество, подтвержденное сертификатами<span>Вся продукция на нашем заводе изготавливается на полуавтоматических станках, которыми управляют инженеры. Данная технология обеспечивает высочайшее качество.</span></p>
              </div>
              <div class="our-advantages__col col-md-6 col-xs-12">
                <div class="icon f-icon4"></div>
                <p>Высокое качество, подтвержденное сертификатами<span>Вся продукция на нашем заводе изготавливается на полуавтоматических станках, которыми управляют инженеры. Данная технология обеспечивает высочайшее качество.</span></p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--footer-->
      <footer class="footer">
        <div class="footer__links">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <p>О нас</p>
                <ul>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                </ul>
              </div>
              <div class="col-md-4 col-xs-12">
                <p>О нас</p>
                <ul>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                </ul>
              </div>
              <div class="col-md-4 col-xs-12">
                <p>О нас</p>
                <ul>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Сертификаты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <p>Телефоны:</p>
                <ul>
                  <li>8 (495) 220-51-88 - заказ дверей,</li>
                  <li>8 (495) 220-51-88 - заказ дверей,</li>
                  <li>8 (495) 220-51-88 - заказ дверей,</li>
                </ul>
                <div class="footer-logo"><img src="./img/logo-footer.png"></div>
              </div>
              <div class="col-md-4 col-xs-12">
                <p>Телефоны:</p><span>125171, г. Москва,</span><span>Войковский 5-й проезд, д. 16 , корп. 2</span>
              </div>
              <div class="col-md-4 col-xs-12">
                <p>Телефоны:</p>
                <div class="payment"><img src="./img/footer-payment.png"></div><span>© 1992-2018 «Люкс-Дизайн»</span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-1.11.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="./js/main.js"></script>
</html>